/* All styles for your Card Components live here */

.cardContainer {
    max-width: "760px";
    margin: 0, auto;
}

.App {
    font-family: sans-serif;
    text-align: center;
    color: #fdd04f;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 0 60px;
  }

.cardBanner {

}