:root {
  --main-color: #5ea3d0;
  --secondary-color: white;
  --main-text-color: #29363f;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #F5F5F5;
}

#root {
  height: 100%;
}


html, body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
  color: var(--main-text-color);
}


