:root {
  --main-color: #5ea3d0;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #F5F5F5;
}




html, body {
  margin: 0;
  padding: 0.4rem;
  font-family: sans-serif;
  color: var(--main-text-color);
}


